{% extends "layout.html" %}
{% block title %}
    Buy
{% endblock %}

{% block main %}
<div class="card">
    <h2 style="margin-top: 20px;">Buy</h2>
    <h4>Current Balance: {{ balance }}</h4>
    <form style="margin: 20px;" method="post" action="/buy" autocomplete="off">
        <div class="form-group">
            <input type="text" name="symbol" class="form-control" placeholder="Symbol">
            <input type="number" class="form-control" autocomplete="off" min="1" name="shares" placeholder="Shares">
        </div>
        <button type="submit" class="btn btn-primary">Buy</button>
    </form>
</div>


{% endblock %}