{% extends "layout.html" %}
{% block title %}
    Home
{% endblock %}

{% block main %}

    <h2 style="margin-bottom: 30px;">Current Holdings</h2>
    <div class="container">
        <table style="w-auto" class="table table-striped table-hover">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">Name</th>
                    <th scope="col">Shares</th>
                    <th scope="col">Price</th>
                    <th scope="col">Profit</th>
                    <th scope="col">TOTAL</th>
                </tr>
            </thead>
            <tbody>
                {% for stock in holdings %}
                <tr style="border-left: 2px solid gray">
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.company}}</td>
                    <td>{{ stock.quantity }}</td>
                    <td>${{ stock.currentPrice }}</td>
                    <td>${{ stock.profit }}</td>
                    <td>${{ stock.currentTotal }}</td>
                    
                </tr>
                {% endfor %}
                <tr style="border-bottom: 2px gray solid; border-left: 2px solid gray">
                    <td style="font-weight: bold;">CASH</td>
                    <td colspan="4"></td>
                    <td>{{ cash }}</td>
                </tr>
                <tfoot style="border-right: 2px solid gray; font-weight: bolder;">
                    <td colspan="3"></td>
                    <td style="font-style: italic;">gross</td>

                    
                    {% if grossProfit > 0 %}
                    <td style="color: green;">+${{ grossProfit }}</td>
                    {% elif grossProfit == 0 %}
                    <td>${{ grossProfit }}</td>
                    {% else %}
                    <td style="color: red;">-${{ grossProfit }}</td>
                    {% endif %}
                    
                    <td>{{ grossBalance }}</td>
                </tfoot>
            </tbody>
        </table>
    </div>



{% endblock %}